// @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
$mainColor: #161a1dd0;
$textColor: #ffffff;
$mainFont: Orbitron;
$customFont: Orbitron;
// $customFont: Orbitron;

$secondaryColor: rgba(12, 12, 12, 0.4);
$secondaryColorHighlight: #33343f;
$secondaryColorLight: rgba(0, 0, 0, 0.5);
$secondaryColorDark: rgba(12, 12, 12, 0.8);

$gridCols: 5;
$gridRows: 4;
$gridSize: 10.79vh;
$gridGap: 4px;
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
// }

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $customFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: white;
}

.context-menu-list {
  min-width: 100px;
  background-color: $mainColor;
  background: radial-gradient(circle, #455b85b7, #22314daf);
  color: $textColor;
  padding: 4px;
  // border-color: rgba(0, 0, 0, 0.2);
  // border-style: inset;
  // border-width: 1px;
  // border-radius: 4px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.context-menu-item {
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  color: $textColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:active {
    transform: none;
  }
  &:hover {
    // background-color: $secondaryColorHighlight;
    // border: solid 1px #19aaca70;
    background: radial-gradient(circle, #179fb882, #22314d82);
    transition: 500ms;
    cursor: pointer;
  }
  font-family: $customFont !important;
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown > p {
  margin: 0;
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.infobox i,
.infobox2 i {
  color: #19abca;
  transform: rotate(-45deg);
  font-size: 0.6vw;
  // padding: 10px;
}

.infobox {
  width: 1.2vw;
  height: 1.2vw;
  left: 0;
  border: 1px solid #19abca;
  box-shadow: 0px 0px 10px 2px #19aaca86;
  border-radius: 5px;
  color: white;
  rotate: 150%;
  // background-color: #3c5268;
  background: linear-gradient(-180deg, rgba(3, 92, 119, 0.87), rgba(25, 74, 138, 0.719));
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  // background-image: url('nui://ox_inventory/web/images/pngfirst.png');
  width: 100%;
  height: 100%;
  // background-color: #17202eaf;
  // background-color:   rgb(4 4 4 / 95%);
  // background-color: rgb(0 0 0);
  // background: linear-gradient(0deg, #19abca70 2%, black 55%);
  background: linear-gradient(179deg, rgb(24 130 173 / 45%) 2%, black 55%);
  position: absolute;
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: 0;
}

.inventory-grid-header-wrapper a {
  z-index: 2;
  position: relative;
  color: #19abca;
  font-size: 1vw;
  text-shadow: #19abca 1px 0 5px;
  letter-spacing: -1;
  font-style: bold;
  font-family: $customFont;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2vh;
  max-width: 12vw;
}

.inventory-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  background: linear-gradient(
    0deg,
    rgba(65, 92, 114, 0.6727065826330532) 0%,
    rgba(133, 184, 226, 0.4430147058823529) 43%,
    rgba(173, 135, 233, 0.27494747899159666) 84%
  );
}

.inventory-control {
  display: flex;

  .inventory-control-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    // background-color: #161a1dd0;
    // padding: 15px;
    border-radius: 5px;
  }

  .inventory-control-wrapper > img {
    width: 250px;
    opacity: 0.6;
  }

  .inventory-control-input {
    position: relative;
    transition: 200ms;
    // padding: 12px 8px;
    padding: 15px 5px;
    font-family: $customFont;
    font-size: 0.7vw;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    // width: 30%;
    height: 0.2vh;
    width: 3vw;
    // box-shadow: 0px 0px 5px 4px rgba(19, 25, 34, 0.555);
    margin-right: 55%;  
    // background-color: $seconaryColor;
    // background: radial-gradient(#36495ed0, #1a1f24d0);
    // background: #1a1f2496;
    // background: radial-gradient(circle, rgba(67, 82, 122, 0.288), rgba(48, 64, 85, 0.329));
    // background: radial-gradient(circle, rgb(22 30 37 / 68%), rgb(22 27 35 / 67%));
    // background: #182131e6;
    background: radial-gradient(circle, rgba(69, 91, 133, 0.5098039216), rgba(34, 49, 77, 0.5098039216));
    // border: solid 1px #19abca;
    &:focus-within {
      background-color: $secondaryColorDark;
    }
  }

  // input[type='number'] {
  //   transform: skewX(25deg) scaleY(cos(-25deg));
  // }

  .inventory-control-button {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    // background-color: $secondaryColor;
    transition: 200ms;
    padding: 12px 8px;
    border-radius: 2.5%;
    border: none;
    text-transform: uppercase;
    font-family: $customFont;
    width: 80%;
    background: radial-gradient(#36495ed0, #1a1f24d0);
    // transform: skewX(-25deg) scaleY(cos(25deg));
    // &:hover {
    // background-color: $secondaryColorDark;
    // }
  }

  // .inventory-control-button > p {
  //   transform: skewX(25deg) scaleY(cos(-25deg));
  // }

  .use-container {
    padding-top: 10px;
    position: relative;
  }

  .use-container > img {
    width: 75px;
    filter: invert(1);
  }

  .btn-use {
    background: none;
    padding: 0px;
  }

  .btn-give {
    background: none;
    position: relative;
  }

  .btn-exit {
    background: none;
    padding-top: 25px;
    position: relative;
  }

  .btn-use,
  .btn-give,
  .btn-exit:hover {
    cursor: pointer;
  }

  .exit-container > p {
    font-size: 0px;
  }
}

.useful-controls-dialog {
  background-color: $mainColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: $customFont;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;
  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;
  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

.useful-controls-button {
  position: absolute !important;
  bottom: -1vh;
  right: -33vw;
  transition: 200ms !important;
  border: none;
  color: white;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-radius: 5% !important;
  // background-color: $secondaryColor !important;
  background: radial-gradient(circle, rgba(69, 91, 133, 0.5098039216), rgba(34, 49, 77, 0.5098039216));
  &:hover {
    background-color: $secondaryColorDark !important;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window
.MuiDialogContent-root {
  background-color: #1a1f24d0;
  color: $textColor;
}

.MuiDialogTitle-root {
  background-color: #1a1f24d0;
  color: $textColor;
}

.MuiDialogActions-root {
  background-color: #1a1f24d0;
  color: $textColor;
}

// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  // gap: calc($gridGap * 2);
  // background-color: #161a1dd0;
  padding: 15px;
  // padding: 0px 15px 0px 15px;
  border-radius: 5px;
  gap: 1vh;
}
.inventory-grid-header-wrapper {
  // position: relative;
  // top: -15vh;
  // left: -16vw;
  // left: 8%;
  // top: 40%;
  // transform: rotate(-90deg);
  // flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  // align-items: flex-start;
  // justify-content: center;
  width: 100%;
  justify-content: space-between;
  p {
    font-size: 26px;
    // color: #ffffff;
    text-transform: capitalize;
    font-weight: 400;
    margin-left: auto;
    position: relative;
    // top: 30px;
  }
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  // width: $containerSize;
}

.inventory-grid-header-wrapper-new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // margin-bottom: 10px;
  min-height: 3.2vh;
}

.weight-text {
  z-index: 1;
}

.weight-text > p {
  text-align: end;
  font-size: 0.9vw;
  font-weight: 400;
  color: rgb(109, 187, 218);
  span {
    font-size: 0.7vw;
    font-weight: 400; 
    color: rgba(252, 252, 252, 0.438);
  }
}

.inventory-grid-container {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  // gap: $gridGap;
  gap: 0.25vw;
  overflow-y: scroll;
}

.inventory-grid-container-right {
  display: grid;
  // height: calc(#{5} * #{$gridSize + 0.22vh} + #{5} * #{$gridGap});
  height: $containerSize;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.shop-inventory-grid-container {
  display: grid;
  // height: calc(#{5} * #{$gridSize + 0.22vh} + #{5} * #{$gridGap});
  // grid-template-columns: repeat(2, 24vh);
  height: $containerSize;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  // grid-auto-rows: $gridSize + 0.24vh;
  gap: $gridGap;
  overflow-y: scroll;
}

// inventory slots
.inventory-slot {
  // background-color: #1a1f24d0;
  // background-color: #182131e6;
  background: radial-gradient(circle, #455b8582, #22314d82);
  // background: radial-gradient(circle, rgba(138, 138, 138, 0.267), rgba(85, 85, 85, 0.205));
  // background: radial-gradient(circle, rgb(22 30 37 / 68%), rgb(22 27 35 / 67%));
  // background: radial-gradient(#36495ed0, #1a1f24d0);
  // background: #1a1f24d0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  // background-size: 7vh;
  color: $textColor;
  background-size: 100%;
  // border: solid 1px #7c7c7c56;
  border: solid 1px rgb(28 46 87);
  // border-color: #424f5cd0;
  // border-style: solid;
  // border-width: 2px;
}

.inventory-slot:hover {
  border: solid 1px #19aaca70;
  background: radial-gradient(circle, #179fb882, #22314d82);
  transition: 1000ms;
}

.inventory-slot-label-box {
  background-color: transparent;
  color: $textColor;
  text-align: center;
  border-bottom-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-top-style: inset;
  border-top-width: 0px;
}

.inventory-slot-label-text {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 3px;
  // font-weight: bold;
  font-family: $customFont;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 100;
}

.inventory-slot-number {
  position: absolute;
  right: 75%;
    top: -5%;
    background: radial-gradient(circle, rgb(38 133 171 / 56%), rgba(48, 64, 85, 0.329));
  // background-color: #3c5268;
  // background: radial-gradient(circle, rgba(67, 82, 122, 0.288), rgba(48, 64, 85, 0.329));
  // color: #19abca;
  // text-shadow: 0.2vh 0.2vh 0 rgba(0, 0, 0, 0.5);
  // height: 12px;
  width: 1vw;
  height: 1vw;
  // border-top-left-radius: 0.25vh;
  // border-bottom-right-radius: 0.25vh;
  // border: 1px solid #19abca;
  // border-radius: 2px;
  padding: 3px;
  // font-size: 12px;
  // font-weight: 700;
  // font-family: $customFont;
  // text-align: center;
  transform: rotate(-45deg);
}

.inventory-slot-number > p {
  text-align: center;
  color: #19abca;
  font-family: $customFont !important;
  font-size: 0.7vw !important;
  font-weight: 700 !important;
  transform: rotate(45deg);
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  // background: radial-gradient(#36495ed0, #1a1f24d0);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0%;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 7vh;
  p {
    font-size: 12px;
    font-weight: 100;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  // justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  padding: 3px 8px 0px 8px;
  gap: 3px;
  // width: 100%;
  p {
    font-size: 0.5vw;
    font-weight: 100;
    // color: #19abca;
    // font-family: teko;
    letter-spacing: 1px;
  }
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // padding-left: 75%;
  p {
    // font-size: 25px;
    font-size: 0.8vw;
    text-shadow: 0.1vh 0.1vh 0 rgba(42, 44, 40, 0.7);
    // font-weight: 300;
    font-weight: 100;
  }
}

// slot tooltip
.MuiTooltip-tooltip {
  background-color: $mainColor !important;
  min-width: 200px !important;
  color: $textColor !important;
  font-family: $customFont !important;
  border-radius: 4px !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-style: inset !important;
  border-width: 1px !important;
}

.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  // background-color: $mainColor;
  background: radial-gradient(circle, #455b85b7, #22314daf);
  min-width: 20vw;
  padding: 8px;
  flex-direction: column;
  min-width: 200px;
  color: $textColor;
  color: #19abca;
  font-family: $mainFont;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: 1px;
  p {
    font-size: 0.6vw;
    font-weight: 400;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 0.8vw;
    font-weight: 400;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 0.8vw;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

.hotslot-wrapper {
  display: grid;
  // width: $gridSize;
  // height: calc(#{$gridRows} * #{11.5vh + 0.22vh} + #{$gridRows} * #{$gridGap});
  // height: 5.79vh;
  grid-template-columns: repeat(5, 10.79vh);
  grid-template-rows: repeat(1, 10.79vh);
  gap: $gridGap;
}

.hotslot-container {
  // background-color: rgba(12, 12, 17, 0.966);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 5px;
  // border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  // height: $containerSize;
  // height: 5.79vh;  
  // width: 23.5%;
  margin-top: 2%;
  // margin-bottom: 6.5px;
  // right: 30%;
  // top: 11.5vh;
}

.hotslot-text {
  width: 100%;
  height: 20px;
  padding-top: 0.4vw;
  padding-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotslot-header {
  text-align: start;
  text-align: center  ;
  // font-size: 20px;
  // font-weight: 400;
  color: #19abca;
  font-size: 0.8vw;
  text-shadow: #19abca 1px 0 10px;
  font-weight: 700;
  padding-left: 2.8%;
  text-transform: uppercase;
  // position: absolute;
  // top: 24vh;
  // left: -5vh;
  // transform: rotate(-90deg);
}

.fade-line1 {
  position: absolute;
  top: 37vh;
  left: -9vh;
  height: 0.1vw;
  background-color: #e6e6e6;
  width: 10em;
  margin: 0 auto;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(20%, rgb(255, 255, 255)));
  transform: rotate(-90deg);
}

.fade-line2 {
  z-index: 1;
  position: absolute;
  left: 15%;
  height: 3px;
  width: 70%;
  margin: 0 auto;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(30%, #19abca));
  // transform: rotate(90deg);
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
  background-color: #1a1f24d0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0%;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 7vh;
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: $secondaryColor;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $customFont;
  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 400;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
  background-color: #1a1f24d0 !important;
}

.durability-bar {
  background: rgba(0, 0, 0, 0.199);
  height: 0.3vw;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.weight-bar {
  // margin-top: 15px;
  // background: rgba(0, 0, 0, 0.4);
  background: radial-gradient(#36495ed0, #1a1f24d0);
  // border: 1px inset rgba(0, 0, 0, 0.1);
  height: 0.6vh;
  width: 15vw;
  border-radius: 0%;
  overflow: hidden;
  transform: skew(-25deg);
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px);
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}
